.content{
    text-align: center;
}

.circleEvolution {
    background-color:  #d2bf55;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .circleEvolution img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .cardEvolution {
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-template-rows: repeat(auto-fit, minmax(50px, auto));
    background-color: #FFEED6;
    display: grid;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
  }

  .t > .card {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .t{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cardsContainerEvolution{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
  }